.classes
    .classes-wrap.wrap
      .classes-top.text-center
        h2 Our Classes
      .classes-bottom
        .container
          .row
            .col-lg-3.col-sm-6
              a(href='class.html')
                .card
                  img.card-img-top(src='img/home/gallery-1.jpg' alt='class')
                  .card-body
                    h5.card-title Seated and Supine Poses for Beginners
                    .card-body_bottom
                      .card-info
                        i.far.fa-clock
                        span 7:00 am &mdash; 11:00 am
                      .card-info
                        i.fas.fa-user
                        span Simon Park
                      .card-info
                        i.fas.fa-level-up-alt
                        span Advanced
                      p.card-text
                        | We welcome you to the part 5 of our beginner series with Simon Park and Lousisse Miller!
            .col-lg-3.col-sm-6
              a(href='class.html')
                .card
                  img.card-img-top(src='img/home/gallery-2.jpg' alt='class')
                  .card-body
                    h5.card-title Work Towards Compass Pose
                    .card-body_bottom
                      .card-info
                        i.far.fa-clock
                        span 7:00 am &mdash; 11:00 am
                      .card-info
                        i.fas.fa-user
                        span Simon Park
                      .card-info
                        i.fas.fa-level-up-alt
                        span Advanced
                      p.card-text
                        | Stretch shoulders, hips, and hamstrings as you work towards Compass Pose (Parivrtta Surya Yantrasana).
            .col-lg-3.col-sm-6
              a(href='class.html')
                .card
                  img.card-img-top(src='img/home/gallery-3.jpg' alt='class')
                  .card-body
                    h5.card-title Handstand Variations and Transitions
                    .card-body_bottom
                      .card-info
                        i.far.fa-clock
                        span 7:00 am &mdash; 11:00 am
                      .card-info
                        i.fas.fa-user
                        span Simon Park
                      .card-info
                        i.fas.fa-level-up-alt
                        span Advanced
                      p.card-text
                        | Explore handstand variations and transitions in this advanced class. A brief warm up will prepare you to play with inversions!
            .col-lg-3.col-sm-6
              a(href='class.html')
                .card
                  img.card-img-top(src='img/home/gallery-4.jpg' alt='class')
                  .card-body
                    h5.card-title Advanced Backbending
                    .card-body_bottom
                      .card-info
                        i.far.fa-clock
                        span 7:00 am &mdash; 11:00 am
                      .card-info
                        i.fas.fa-user
                        span Simon Park
                      .card-info
                        i.fas.fa-level-up-alt
                        span Advanced
                      p.card-text
                        | Amanda Botur has created a class to help you prepare for the hormonal shifts and rising emotions that may occur in the days ...