include ./../mixins/single-class.pug

.classes-bottom
    .container
        .row
            .col-lg-3.col-md-6
                +single-class('class-1.jpg', 'Seated and Supine Poses for Beginners', '7:00 am - 11:00 am', 'Simon Park', 'Advanced', 'We welcome you to the part 5 of our beginner series with Simon Park and Lousisse Miller!')
            .col-lg-3.col-md-6
                +single-class('class-2.jpg', 'Work Towards Compass Pose', '7:00 am - 11:00 am', 'Simon Park', 'Advanced', 'Stretch shoulders, hips, and hamstrings as you work towards Compass Pose (Parivrtta Surya Yantrasana).')
            .col-lg-3.col-md-6
                +single-class('class-3.jpg', 'Handstand Variations and Transitions', '7:00 am - 11:00 am', 'Simon Park', 'Advanced', 'Explore handstand variations and transitions in this advanced class. A brief warm up will prepare you to play with inversions!')
            .col-lg-3.col-md-6
                +single-class('class-4.jpg', 'Advanced Backbending', '7:00 am - 11:00 am', 'Simon Park', 'Advanced', 'Amanda Botur has created a class to help you prepare for the hormonal shifts and rising emotions that may occur in the days ...')