.subscribe
  .subscribe-wrap.wrap
    .container
      .row.align-middle.justify-content-between
        .col-md-1
          a(href='#')
            img(src='img/home/logo-white.png' alt='logo')
        .col-md-3.subscribe-text
          span Subscribe
          p To receive the lastest freebies in your inbox
        .col-md-5.subscribe-form
          form.form-inline
            input.form-control(type='email' placeholder='Your Address Email')
            button.btn.btn-primary(type='submit') Subscribe
// /.subscribe
.contact
  .contact-wrap.wrap
    .container.jc
      .row
        .col-xl-5
          .container
            .row
              .col-sm-6
                h4 Contact Us
                p
                  | PO Box 16122 Collins Street West,
                  | Victoria 8007 Australia
                a.email(href='mailto:Alitstudios@gmai.com') Alitstudios@gmai.com
                a.tel(href='tel:+74957873422') +61 3 8376 6284
                .contact-icons
                  a(href='www.facebook.com')
                    img(src='img/home/icon-fb.png' alt='icon')
                  a(href='www.twitter.com')
                    img(src='img/home/icon-twitter.png' alt='icon')
                  a(href='www.google.com')
                    img(src='img/home/icon-google.png' alt='icon')
                  a(href='www.pinterest.com')
                    img(src='img/home/icon-pinterest.png' alt='icon')
              .col-sm-6
                h4 Useful Links
                nav
                  ul
                    li
                      a(href='about.html') About us
                    li
                      a(href='#') Advertise
                    li
                      a(href='#') Terms &amp; Conditions
                    li
                      a(href='#') Privacy Policy
                    li
                      a(href='#') Careers
                    li
                      a(href='#') Shop
        .col-xl-4.col-md-6
          h4 Open Hours
          nav
            ul
              li
                span.day Monday
                span
                  i.fas.fa-angle-right
                  | 11am - 2pm
              li
                span.day Tuesday
                span
                  i.fas.fa-angle-right
                  | 11am - 2pm
              li
                span.day Wednesday
                span
                  i.fas.fa-angle-right
                  | 11am - 12pm
              li
                span.day Thursday
                span
                  i.fas.fa-angle-right
                  | 11am - 12pm
              li
                span.day Friday
                span
                  i.fas.fa-angle-right
                  | 10am - 2pm
              li
                span.day Saturday
                span
                  i.fas.fa-angle-right
                  | 10am - 2pm
              li
                span.day Sunday
                span
                  i.fas.fa-angle-right
                  | Close
        .col-xl-3.col-md-6
          h4 Our Location
          iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.7797139380714!2d144.95472334945552!3d-37.818628455060136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dc3f859f1%3A0x965b087c3cbc0b22!2sGotta%20Love%20Tech!5e0!3m2!1sde!2sde!4v1603288675482!5m2!1sde!2sde' width='270' height='170' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
// /.contact
footer
  .footer-wrap.wrap
    .footer-left
      span BUILT WITH
      i.fas.fa-heart
      span WP THEME BY alitstudio
    .footer-right
      nav
        ul
          li
            a(href='#') Home
          li
            a(href='#') Page
          li
            a(href='#') Shortcodes
          li
            a(href='#') Features
          li
            a(href='#') Blog
          li
            a(href='#') Portfolio
          li
            a(href='#') Shop
