.header-menu
  nav.navbar.navbar-expand-md
    a.navbar-brand(href='index.html')
      img(src='img/home/logo.png' alt='logo')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      i.fas.fa-bars
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='index.html')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='about.html') About Us
        li.nav-item
          a.nav-link(href='classes.html') Classes
        li.nav-item
          a.nav-link(href='pricing.html') Pricing
        li.nav-item
          a.nav-link(href='contact.html') Contact