.logo {
  background-color: #f8f7fc;

  .logo-wrap {
    padding: 85px 20px;
    display: flex;
    flex-direction: column;

    .row {
      justify-content: space-between;
      align-items: center;

      .col-sm-2 {
        text-align: center;
        margin-right: 15px;
        margin-bottom: 15px;

        &:last-child {
          margin-right: 0;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .logo {
    .logo-wrap {
      padding: 30px 20px;
    }
  }
}

