mixin about-class(title, p, img)
    a.about-item(href='class.html')
        .item-img
            img(src="img/about/" + img , alt="about-class")
        h5.item-titel= title
        p.item-text= p
        