extends ./../layouts/main.pug
include ./../mixins/about-class.pug

block variables 
    - const title = "About us";

block header-content
    h2 About us
    span Welcome To Wand Yoga Studio

block body-content
    .about-block-wrap.wrap
        .about-block
            .container
                .row
                    .col-md-6.about-block-text
                        p We offers over 4,000 professionally-filmed online yoga classes taught by experienced, certified yoga teachers to customers around the world. We believe that yoga should be accessible to everyone and our classes are designed to give you an in-studio experience, at an affordable price, in your own home. 
                        p Wand Yoga is designed and created specifically to serve YOU. Our goal is to create a destination for people of all experience levels and backgrounds to practice, grow, and heal. Our mission is to create a community of health and wellbeing through the practice of yoga. Wand Yoga  is a space that will inspire growth and self-awareness. Our passion is to motivate one’s desire to achieve their full potential. Wand Yoga  will welcome and encourage you every step of the way!
                    .col-md-6.about-block-image
                        img(src="img/about/body-img.jpg", alt="img")
                        
    .about-quote
        blockquote.blockquote.text-center
            p.mb-0 " Put your heart, mind, intellect and soul even into your smallest acts. This is the secret of success "
            footer Myriam Jessier

    .about-classes
        .about-classes-wrap.wrap
            .container
                .row
                    .col-lg-4
                        +about-class('Basic Step', 'This class is designed for first time yogis. It’s the right class for you if you want to learn the fundamentals of yoga in a group where everyone is new. The teacher will give you some background on yoga while you’re seated, but come prepared to move. You’ll walk out feeling embodied, empowered, energized, and eager to come back', 'class-1.jpg')
                    .col-lg-4
                        +about-class('Level 1 Classes', 'We recommend any of our classes that are designated as Level 1, such as Hatha, YogaWorks, and Flow. Level 1 caters to beginning students and focuses on the basics. You’ll be surrounded by both brand new and returning practitioners as well as more advanced yogis who want to work on beginning poses', 'class-2.jpg')
                    .col-lg-4
                        +about-class('Gentle Yoga', 'The slower pace of Wand Yoga Gentle classes make them a great choice if you want a less strenuous approach to your practice. These extremely accessible classes are perfect for anyone looking to develop a practice of conscious, mindful movement with some support—from seniors to pregnant women to world-class athletes', 'class-3.jpg')

    .about-testimonials
        .about-testimonials-wrap.wrap
            #aboutCarousel.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#aboutCarousel' data-slide-to='0')
                    li(data-target='#aboutCarousel' data-slide-to='1')
                    li(data-target='#aboutCarousel' data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        h5 So Many Features
                        p
                        | Great template! Very fast and easy to configure. Intuitive interface, didn&apos;t even have to read the documentation. There were several questions that the author answered quickly. For customization themes no need to edit css.
                        img(src='img/about/testimonials.png')
                        span.testimonials-title Svetlin Denkov
                        span.testimonials-author Envato author
                    .carousel-item
                        h5 So Many Features
                        p
                        | Great template! Very fast and easy to configure. Intuitive interface, didn&apos;t even have to read the documentation. There were several questions that the author answered quickly. For customization themes no need to edit css.
                        img(src='img/about/testimonials2.png')
                        span.testimonials-title Abraham Quitiq
                        span.testimonials-author Whriter
                    .carousel-item
                        h5 So Many Features
                        p
                        | Great template! Very fast and easy to configure. Intuitive interface, didn&apos;t even have to read the documentation. There were several questions that the author answered quickly. For customization themes no need to edit css.
                        img(src='img/about/testimonials3.png')
                        span.testimonials-title John Smith
                        span.testimonials-author freelancer
                a.carousel-control-prev(href='#aboutCarousel' role='button' data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-next(href='#aboutCarousel' role='button' data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
