extends ./../layouts/main.pug

block variables 
    - const title = "About us";

block header-content
    h2 About us
    span Welcome To Wand Yoga Studio

block body-content
    .about-block-wrap.wrap
        .about-block
            .container
                .row
                    .col-md-6.about-block-text
                        p We offers over 4,000 professionally-filmed online yoga classes taught by experienced, certified yoga teachers to customers around the world. We believe that yoga should be accessible to everyone and our classes are designed to give you an in-studio experience, at an affordable price, in your own home. 
                        p Wand Yoga is designed and created specifically to serve YOU. Our goal is to create a destination for people of all experience levels and backgrounds to practice, grow, and heal. Our mission is to create a community of health and wellbeing through the practice of yoga. Wand Yoga  is a space that will inspire growth and self-awareness. Our passion is to motivate one’s desire to achieve their full potential. Wand Yoga  will welcome and encourage you every step of the way!
                    .col-md-6.about-block-image
                        img(src="../img/about/body-img.jpg", alt="img")
                        
    .about-quote
        blockquote.blockquote.text-center
            p.mb-0 " Put your heart, mind, intellect and soul even into your smallest acts. This is the secret of success "
            footer Myriam Jessier
