.content {
    .pricing-wrap {
        padding: 120px 20px;

        .container {
            .row {
                .col-lg-3 {
                    .card-top {
                        display: flex;
                        align-items: baseline;
                        margin: 25px auto;

                        span {
                            font-size: 36px;
                            line-height: 30px;
                            color: $blue;
                            margin-right: 7px;
                            font-weight: 600;
                        }

                        p {
                            color: #999999;

                            &:before {
                                content: '/';
                                display: inline;
                                margin-right: 7px;
                            }
                        }
                    }

                    .card-main {
                        h4 {
                            text-transform: uppercase;
                            font-weight: 700;
                            color: $blue;
                        }
                    }

                    button {
                        border-radius: 25px;
                        font-family: "Poppins", sans-serif;
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 15px 27px;
                        background-color: $blue;
                        border: none;
                        margin-top: 40px;
                    }




                    .card-top,
                    .card-main {
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eeeeee;
                    }
                }
            }
        }
    }
}